bg = #f6f0e1
lines = #fddbce
item = darken(lines, 60)

.behaviors
  position absolute
  width 100%
  height 100%


  svg
    font 10px sans-serif
    shape-rendering crispEdges

    rect
      fill bg

    .axis
      line, path
        fill none
        stroke lines
      color lightgrey
    
    #items
      shape-rendering auto
      
      .item
        fill item

header
  a
    color item

footer 
  li
    color lightgrey
    b
      color bg 
    .item
      color item