.behaviors
  background-color #eee
  position absolute
  width 100%
  height 100%


  svg
    font 10px sans-serif
    shape-rendering crispEdges

    rect
      fill #ddd

    .axis
      line, path
        fill none
        stroke #fff
    
    .items
      shape-rendering auto

    circle
      fill red
      stroke black