@import 'nib/vendor'

html, body
  overflow hidden
  font-family "Gill Sans", "Gill Sans MT"
  margin 0
  padding 0

header
  position absolute
  z-index 99
  right 20px
  color #999
  margin 0
  padding 0
  
  
  ul, li
    margin 0
    padding 0
    list-style none
  
  li
    display block
    float left
    margin-left 10px